<footer class="cf-footer-section">
    <div class="cf-wrapper-1200px-2">
        <div class="cf-footer-wrapper">
            <div class="cf-footer-container">
                <div class="cf-footer-left-container">
                    <a href="#" class="cf-footer-logo-link w-inline-block">
                        <img src="https://assets-global.website-files.com/65d4d62524572e9697ec5fb3/65e4db53ac4e605ee41292d0_logoverde.png" loading="lazy" alt="" class="cf-footer-logo"/>
                    </a>
                    <div class="cf-footer-social-wrapper">
                        <a href="https://www.facebook.com/" target="_blank" class="cf-footer-social-link-block w-inline-block">
                            <img src="https://assets-global.website-files.com/65d4d62524572e9697ec5fb3/65da38d09aa219adfe26e2ea_facebook%202.svg" loading="lazy" alt="" class="cf-footer-social-icon"/>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="cf-footer-social-link-block w-inline-block">
                            <img src="https://assets-global.website-files.com/65d4d62524572e9697ec5fb3/65da38d09aa219adfe26e2ee_Component%201%20(2).svg" loading="lazy" alt="" class="cf-footer-social-icon"/>
                        </a>
                        <a href="https://dribbble.com/" target="_blank" class="cf-footer-social-link-block w-inline-block">
                            <img src="https://assets-global.website-files.com/65d4d62524572e9697ec5fb3/65de393ed9003274f38b20d4_whatsapp%20(1).png" loading="lazy" alt="" class="cf-footer-social-icon"/>
                        </a>
                    </div>
                </div>
                <div class="cf-footer-right-container">
                    <div class="cf-footer-links-wrapper">
                        <div class="cf-footer-link-inner-wrapper bottom-padding">
                            <div class="cf-footer-links-header">Política de privacidade</div>
                        </div>
                    </div>
                    <div class="cf-footer-links-wrapper">
                        <div class="cf-footer-link-inner-wrapper">
                            <div class="cf-footer-links-header">Termos de serviço</div>
                        </div>
                    </div>
                    <div id="w-node-_412d7ae7-c27a-ce7c-b1b5-409b5aa18dc8-97ec5fbf" class="cf-footer-links-wrapper">
                        <div class="cf-footer-link-inner-wrapper">
                            <div class="cf-footer-links-header">Quem somos</div>
                        </div>
                    </div>
                    <div class="cf-footer-links-wrapper">
                        <div class="cf-footer-link-inner-wrapper">
                            <div class="cf-footer-links-header">Entre em contato</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-footer-copyright-wrapper">
                <div class="cf-copyright-text-2">
                    © Todos os Direitos Reservados pela <a href="http://conversionflow.co/" target="_blank" class="cf-footer-link">Compramosseucarro.net</a>
                    . Desenvolvido por <a href="https://webflow.com/" target="_blank" class="cf-footer-link">estevaoferreiradev</a>
                    .
                </div>
            </div>
        </div>
    </div>
</footer>