<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="cf-navigation-2-bar w-nav">
    <div class="cf-navigation-2-wrapper">
        <div class="cf-navigation-2-left-contain">
            <a href="{% url 'fipe_app:index' %}" class="cf-brand-2 w-nav-brand">
                <img src="https://assets-global.website-files.com/65d4d62524572e9697ec5fb3/65e4db53ac4e605ee41292d0_logoverde.png" loading="lazy" width="350" height="100" alt="" class="cf-navigation-logo"/>
            </a>
        </div>
        <div class="cf-navigation-right-contain">
            <a href="https://wa.me/5585985532768?text=Olá, vim do CompramosSeuCarro.Net, preciso tirar uma dúvida" target="_blank" class="cf-nav-2-button w-button">WHATSAPP</a>
        </div>
    </div>
</div>