{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="cf-logo-section-2">
            <div class="cf-logo-2---wrapper">     
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 100%; background-color: green;"></div>
                </div><br>
                <h3 class="cf-logo-2-heading" style="height: 10px;">SELECIONE O ANO</h3>
                <form method="post" action="{% url 'fipe_app:listar_ano_modelos' %}">
                    {% csrf_token %}
                    <div class="cf-logos-2--wrapper-2">
                        {% for ano in anos_data %}
                        {% with ano.value|slice:":4" as ano_exato %}
                        <button type="submit" name="ano_id" value="{{ ano.value }}" class="cf-logo-button-2">
                            <span style="text-align: left;" class="brand-text">{{ ano_exato }}</span>
                        </button>
                        {% endwith %}
                        {% endfor %}
                    </div>
                    <input type="hidden" name="modelo_id" value="{{ modelo_id }}">
                    <input type="hidden" name="marca_id" value="{{ marca_id }}">
                    <input type="hidden" name="marca_label" value="{{ marca_label }}">
                    <input type="hidden" name="modelo_label" value="{{ modelo_label }}">
                </form>
            </div>
        </div>
        
        <script>
            const progress = 50; // Porcentagem de progresso
            
            // Seletor da barra de progresso
            const progressBar = document.querySelector('.progress-bar');
            
            // Ajuste a largura da barra de progresso
            progressBar.style.width = progress + '%';
        </script>
{% endblock %}











